* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f4eed8;
  --text-color: #333333;
  --main-color: #e16539;
  --second-color: gray;
  --other-color: #12141c;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-position-x: right;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}

.logo img {
  width: 135px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;
}

.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
  transform: scale(1.01) translateY(-5px);
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 160px 16% 90px;
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
}

span {
  color: var(--main-color);
}

h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: #c45730;
  border: 1px solid var(--main-color);
}

.about-img {
  width: 250px;
  height: auto;
}

header {
  padding: 1px 16%;
  background: var(--bg-color);
  transition: 0.3s;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  text-align: right;
}

.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  position: relative;
  left: 500px;
}

.about-text h2 {
  font-size: var(--h2-font);
  position: relative;
  left: 500px;
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
  position: relative;
  left: 500px;
}

.about-img {
  position: absolute;
}

.leftorange {
  position: absolute;
  transform: rotate(180deg);
  left: -497px;
  top: 10.5px;
}

.intro {
  position: absolute;
  right: 180px;
  top: 20em;
}

.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.skill-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3.5rem;
  margin-top: 5rem;
}

.box {
  padding: 20px;
  background: #e16539;
  border-top: 5px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  height: 150px;
  width: 150px;
}

.box_wrong {
  padding: 20px;
  background: #e16539;
  border-top: 5px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  height: 150px;
  width: 150px;
}

.lang {
  width: 45px;
  height: 45px;
}
.wrong {
  width: 70px;
  height: 70px;
}

.box h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
  transition: all 0.4s ease;
}

.box_wrong h3 {
  font-size: 20px;
  font-weight: 600;
  width: 115.5px;
  margin: 5px 0;
  transition: all 0.4s ease;
}

.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--other-color);
}

.box_wrong:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--other-color);
}

.box:hover h3 {
  color: var(--other-color);
}

.box_wrong:hover h3 {
  color: var(--other-color);
}

.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 3.5rem;
  margin-top: 5rem;
}

.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.row {
  padding: 25px;
  background: var(--second-color);
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row h3 {
  font-size: 25px;
  font-weight: 700;
}

.row h6 {
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.row-icon i {
  font-size: 21px;
}

.row-icon:hover {
  color: #e16539;
  user-select: none;
}

.row:hover {
  transform: scale(1.01) translateY(-5px);
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.contact-text h4 {
  margin: 15px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
}

.contact-list li a {
  display: block;
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--main-color);
}

.contact-icons i {
  height: 60px;
  width: 60px;
  background: var(--text-color);
  border-radius: 0.5rem;
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-right: 10px;
  transition: all 0.4s ease;
}

.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--text-color);
  background: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form .SEND {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  background: var(--main-color);
  color: var(--text-color);
  width: 190px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.last-text p {
  text-align: center;
  padding: 15px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: var(--text-color);
  background: var(--main-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@media (max-width: 1325px) {
  header {
    padding: 16px 3%;
  }

  section {
    padding: 130px 3% 60px;
  }

  @media (max-width: 970px) {
    :root {
      --h1-font: 4.2rem;
      --h2-font: 2.9rem;
      --p-font: 1rem;
    }

    section {
      padding: 70px 3% 60px;
    }

    .home {
      height: 85vh;
    }

    .intro {
      top: 165px;
      right: 50px;
    }

    .about {
      grid-template-columns: 1fr;
    }

    .home {
      top: 50px;
    }

    .about-img {
      display: none;
    }

    .contact {
      grid-template-columns: 1fr;
    }

    .about {
      position: relative;
      text-align: left;
      right: 500px;
    }
  }

  @media screen and (max-width: 830px) {
    #menu-icon {
      display: block;
    }

    .navbar {
      position: absolute;
      top: -600px;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background: var(--text-color);
      text-align: left;
      transition: all 0.4s ease;
    }

    .navbar a {
      display: block;
      padding: 1rem;
      margin: 1rem;
    }

    .navbar.active {
      top: 100%;
    }

    :root {
      --h1-font: 3.7rem;
      --h2-font: 2.7rem;
    }
    .about-img {
      display: none;
      opacity: 0;
    }

    .about {
      position: relative;
      text-align: left;
      right: 500px;
    }

    .home {
      top: 50px;
    }
  }

  @media screen and (max-width: 750px) {
    .intro {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .about-img {
      display: none;
      opacity: 0;
    }

    .about {
      position: relative;
      text-align: left;
      right: 500px;
    }

    .home {
      top: 50px;
    }
  }

  @media screen and (max-width: 400px) {
    .skill-content {
      margin-right: -4px;
    }
  }
}
